.container {
  width: auto;
  height: 72px;
  padding: 0px 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background-color: var(--primary-1);
  position: sticky;
  top: 0;
  z-index: 100;
}

.menuButton {
  visibility: collapse;
  position: absolute;
}

.buttonsContainer {
  height: 48px;
  display: flex;
  gap: 32px;
}

.buttonsContainer > button {
  padding: 0px;
}

.skeletonButton {
  padding: 0px;
}

.buttonsContainer > div {
  display: flex;
  gap: 16px;
}

@media only screen and (max-width: 1200px) {
  .container {
    padding: 0px 80 px;
  }

  .longButton {
    font-size: 14px;
    padding: 0px 15px !important;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 650px) {
  .container {
    padding: 0px 60px;
  }

  .buttonsContainer {
    display: none;
  }

  .menuButton {
    visibility: visible;
    position: unset;
  }
}
