.main {
  min-height: 200vh;
  background: linear-gradient(#673eff 0px, var(--primary-1) 125vh);
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 130px;
  padding-right: 0px;
}

.heroText {
  display: flex;
  flex-direction: column;
  width: fit-content;
  text-align: center;
}

.heroText > h1 {
  margin-bottom: 65px;
}

.heroDescription {
  display: none;
}

.heroImageLarge {
  object-fit: contain;
  height: 100vh;
  width: 100%;
}


.heroImageSmall {
  display: none;
}

.jumbotronContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 130px;
}

.jumbotronContainer > p {
  margin-bottom: 52px;
  color: var(--primary-2);
  text-align: center;
}

.stepsContainer {
  padding: 130px;
}

.imageCardsContainer {
  display: flex;
  justify-content: center;
  gap: 80px;
  padding: 0px 130px;
}

.questionContainer {
  margin-top: 100px;
  padding: 0px 130px;
  padding-bottom: 80px;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--primary-3);
}

.questionContainer > h2 {
  margin-top: 62px;
  font-size: 36px;
  text-align: center;
}

@media only screen and (max-width: 650px) {
  .hero {
    padding: 0px 100px;
    justify-content: space-evenly;
    flex-direction: column;
  }

  .heroText {
    flex-direction: column;
    align-items: center;
    gap: 39px;
  }

  .heroText > h1 {
    margin-bottom: 0px;
  }

  .heroText br {
    display: none;
  }

  .heroText > button {
    width: fit-content;
  }

  .heroDescription {
    display: inline;
    white-space: initial;
    text-align: center;
    color: var(--primary-2);
  }

  .heroImageLarge {
    display: none;
  }
  
  .heroImageSmall {
    display: block;
    width: 100%;
    height: 100%;
    scale: 1.75;
  }

  .jumbotronContainer {
    padding: 0px 50px;
  }

  .jumbotronContainer * {
    display: none;
  }

  .jumbotronContainer button {
    display: block;

    width: fit-content;
    font-size: 20px;
  }

  .stepsContainer {
    padding: 60px;
  }

  .imageCardsContainer {
    flex-direction: column;
    padding: 0px 60px;
  }

  .questionContainer {
    padding: 0px 60px;
  }
}
