.container {
  width: 100%;
  height: 100%;
  aspect-ratio: 10/16;
  border-radius: 20px;
  overflow: hidden;

  position: relative;
  box-shadow: 0px 2px 4px 0px rgba(157, 153, 153, 0.25),
    0px -4px 15px 0px rgba(187, 155, 255, 0.15);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.text {
  position: absolute;
  bottom: 30px;
  width: 100%;
  text-align: center;

  color: var(--primary-3);
  font-size: 24px;
  font-weight: 600px;
  z-index: 2;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(#ffffff00, #0b012185, #0b0121);
  position: absolute;
  top: 0;
  z-index: 1;
}

@media only screen and (max-width: 650px) {
  .container {
    aspect-ratio: 16/10;
  }

  .text {
    bottom: 15px;
  }
}