.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.option {
  display: flex;
  gap: 8px;
  align-items: center;
  width: fit-content;

  cursor: pointer;
}

.option label {
  font-size: 18px;
  color: var(--neutral-12);
}

.option input {
  width: 16px;
  height: 16px;

  appearance: none;

  border-radius: 100%;
  border: 2px solid var(--primary-2);
}

.option input:checked {
  background-color: var(--primary-4);
  border: 2px solid var(--primary-4);
}
