.container {
  width: 100vw;
  min-height: 100vh;
  padding: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(#673eff 0px, var(--primary-1) 100vh);
}

.card {
  background-color: var(--primary-1);
  box-shadow: 0px -2px 7px 0px rgba(233, 223, 255, 0.3), 0px 2px 4px 0px #0b0121;
}

.selectButton {
  background-color: var(--primary-3);
  color: var(--primary-1);
}

.selectButton:hover {
  background-color: var(--primary-2);
}

.selectButton > p {
  color: var(--primary-1);
}

.selectOptionsContainer {
  background-color: var(--primary-3);
}

.selectOptionCountryCode {
  background-color: var(--primary-3);
}

.selectOptionCountryCode > p,
.selectOptionCountryCode > div {
  color: var(--primary-1);
}

.selectOptionCountryCode:hover {
  background-color: var(--primary-2);
}

.socialButtonsBlockButton > button {
  background-color: var(--primary-3);
  box-shadow: 0px -2px 7px 0px rgba(233, 223, 255, 0.3), 0px 2px 4px 0px #0b0121;
}

.socialButtonsBlockButton > button:hover {
  background-color: var(--primary-2);
}

.otpCodeFieldInputs > input {
  background-color: var(--primary-1);
  color: var(--primary-3);
  border-bottom: solid 2px var(--primary-2);
}